# Site Settings
title: OSS-Lab@PKU-SEI
tagline: OSS-Lab@PKU-SEI
email: 
description: >
  The website of Open Source Software Data Analytics Lab at Peking University
baseurl:
url: "https://osslab-pku.github.io"
permalink: pretty
favicon: favicon.svg

paginate: 5
paginate_path: "/news/page:num"

plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-feed
  - jekyll-seo-tag
  - kramdown
  - rouge

include:
  - _pages

exclude: 
  - Gemfile
  - clean-theme.gemspec
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

livereload: true

sass:
  style: compressed
  source_dir: _sass

google_analytics: G-QDRNQTVQY1

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      show_sidebar: true
  -
    scope:
      path: ""
      type: "posts"
    values:
      author: "Anomynous"
      layout: post
      image: https://via.placeholder.com/1200x800
      show_sidebar: true

  -
    scope:
      path: ""
      type: "people"
    values:
      show_sidebar: false
      hero_height: 4

markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

footer_menu: footer_menu

collections:
  people: 
    output: true
    layout: people
    image: https://via.placeholder.com/480x480
  publication:
    output: true
    layout: publication