<div class="box">
    <div class="columns is-multiline">

        {% if page.image %}
        <div class="column is-3-desktop is-4-tablet">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="{{ post.image }}" alt="{{ page.title }}" />
                    </figure>
                </div>
            </div>
        </div>
        {% endif %}

        {% if page.image %}
        <div class="column is-9-desktop is-8-tablet">
        {% else %}
        <div class="column is-12-desktop is-12-tablet">
        {% endif %}
            <div class="content">
                <a class="title is-4" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
                {% if post.layout != "project" %}
                <p>Published: {{ post.date | date: "%b %-d, %Y" }}</p>
                {% endif %}
                <p>{{ post.excerpt }}</p>
            </div>
            <div>
                <a href="{{ site.baseurl }}{{ post.url }}" class="button is-primary">Read more</a>
                {% if post.github %}
                <a href="{{ post.github }}" class="button is-primary">GitHub</a>
                {% endif %}
                {% if post.website %}
                <a href="{{ post.website }}" class="button is-primary">Website</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>