---
layout: default
show_sidebar: false
---

<div class="column is-12">
  {{ page.content }}
</div>


<p class="title is-3">Advisor</p>

<div class="columns is-multiline">
  {% assign sorted_peoples = site.people | sort:page.sort %}
  {% for people in sorted_peoples %}
    {% if people.type == "advisor" %}
    <div class="column is-3-desktop is-6-tablet">
      <a href="{% if people.personal_website %} {{ people.personal_website }} {% else %} {{ people.url | prepend: site.baseurl }} {% endif %}">
        <div class="card">
          {% if people.image %}
          <div class="card-image">
            <figure class="image is-1by1">
              <img src="{{ people.image }}" alt="{{ people.title }}" />
            </figure>
          </div>
          {% endif %}
          <div class="card-content">
            <p class="title is-5">{{ people.title }}</h2>
            <p class="subtitle is-6">{{ people.subtitle }}</p>  
          </div>
        </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>

<p class="title is-3">Current Ph.D. Students</p>

<div class="columns is-multiline">
  {% assign sorted_peoples = site.people | sort:page.sort %}
  {% for people in sorted_peoples %}
    {% if people.type == "phd" %}
    <div class="column is-3-desktop is-6-tablet">
      <a href="{% if people.personal_website %} {{ people.personal_website }} {% else %} {{ people.url | prepend: site.baseurl }} {% endif %}">
        <div class="card">
          {% if people.image %}
          <div class="card-image">
            <figure class="image is-1by1">
              <img src="{{ people.image }}" alt="{{ people.title }}" />
            </figure>
          </div>
          {% endif %}
          <div class="card-content">
            <p class="title is-5">{{ people.title }}</h2>
            <p class="subtitle is-6">{{ people.subtitle }}</p>  
          </div>
        </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>
<!-- <p class="title is-3">Current Postdocs</p>

<div class="columns is-multiline">
  {% assign sorted_peoples = site.people | sort:page.sort %}
  {% for people in sorted_peoples %}
    {% if people.type == "postdoc" %}
    <div class="column is-3-desktop is-6-tablet">
      <a href="{% if people.personal_website %} {{ people.personal_website }} {% else %} {{ people.url | prepend: site.baseurl }} {% endif %}">
        <div class="card">
          {% if people.image %}
          <div class="card-image">
            <figure class="image is-1by1">
              <img src="{{ people.image }}" alt="{{ people.title }}" />
            </figure>
          </div>
          {% endif %}
          <div class="card-content">
            <p class="title is-5">{{ people.title }}</h2>
            <p class="subtitle is-6">{{ people.subtitle }}</p>  
          </div>
        </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div> -->
<p class="title is-3">Current Master Students</p>

<div class="columns is-multiline">
  {% assign sorted_peoples = site.people | sort:page.sort %}
  {% for people in sorted_peoples %}
    {% if people.type == "master" %}
    <div class="column is-3-desktop is-6-tablet">
      <a href="{% if people.personal_website %} {{ people.personal_website }} {% else %} {{ people.url | prepend: site.baseurl }} {% endif %}">
        <div class="card">
          {% if people.image %}
          <div class="card-image">
            <figure class="image is-1by1">
              <img src="{{ people.image }}" alt="{{ people.title }}" />
            </figure>
          </div>
          {% endif %}
          <div class="card-content">
            <p class="title is-5">{{ people.title }}</h2>
            <p class="subtitle is-6">{{ people.subtitle }}</p>  
          </div>
        </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>


<p class="title is-3">Visiting Researcher</p>

<div class="columns is-multiline">
  {% assign sorted_peoples = site.people | sort:page.sort %}
  {% for people in sorted_peoples %}
    {% if people.type == "visiting" %}
    <div class="column is-3-desktop is-6-tablet">
      <a href="{% if people.personal_website %} {{ people.personal_website }} {% else %} {{ people.url | prepend: site.baseurl }} {% endif %}">
        <div class="card">
          {% if people.image %}
          <div class="card-image">
            <figure class="image is-1by1">
              <img src="{{ people.image }}" alt="{{ people.title }}" />
            </figure>
          </div>
          {% endif %}
          <div class="card-content">
            <p class="title is-5">{{ people.title }}</h2>
            <p class="subtitle is-6">{{ people.subtitle }}</p>  
          </div>
        </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>




<p class="title is-3">Current Undergraduate Students</p>

<div class="columns is-multiline">
  {% assign sorted_peoples = site.people | sort:page.sort %}
  {% for people in sorted_peoples %}
    {% if people.type == "undergraduate" %}
    <div class="column is-3-desktop is-6-tablet">
      <a href="{% if people.personal_website %} {{ people.personal_website }} {% else %} {{ people.url | prepend: site.baseurl }} {% endif %}">
        <div class="card">
          {% if people.image %}
          <div class="card-image">
            <figure class="image is-1by1">
              <img src="{{ people.image }}" alt="{{ people.title }}" />
            </figure>
          </div>
          {% endif %}
          <div class="card-content">
            <p class="title is-5">{{ people.title }}</h2>
            <p class="subtitle is-6">{{ people.subtitle }}</p>  
          </div>
        </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>

<p class="title is-3">Graduated Students</p>

<div class="columns is-multiline">
  {% assign sorted_peoples = site.people | sort:page.sort %}
  {% for people in sorted_peoples %}
    {% if people.type == "graduated" %}
    <div class="column is-3-desktop is-6-tablet">
      <a href="{% if people.personal_website %} {{ people.personal_website }} {% else %} {{ people.url | prepend: site.baseurl }} {% endif %}">
        <div class="card">
          {% if people.image %}
          <div class="card-image">
            <figure class="image is-1by1">
              <img src="{{ people.image }}" alt="{{ people.title }}" />
            </figure>
          </div>
          {% endif %}
          <div class="card-content">
            <p class="title is-5">{{ people.title }}</h2>
            <p class="subtitle is-6">{{ people.subtitle }}</p>  
          </div>
        </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>

